{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="">{% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4">Login</legend>
                    {{ form|crispy }}
                </fieldset>
                <button class="mb-3 btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Need an account? <a class="ml-2" href="{% url 'register' %}">Signup Now</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}