{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for post in featured_posts|slice:":3" %}
      {% if forloop.first %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
      {% endif %}
        <img class="d-block w-100" src="{{ post.thumb.url }}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-2">{{ post.title }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}

